/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-control-next, .carousel-control-prev  {width:auto; background-color: #7cc7de; opacity:inherit; height: 40px; position: absolute; top: 60px; padding-right: 5px; padding-left: 8px;}
.carousel-control-next  {padding-right: 5px; padding-left: 8px;}
.carousel-control-prev  {padding-right: 8px; padding-left: 5px;}

.carousel-caption { position: absolute; top: 35%; width: 80%; z-index: 600; color: white;  text-align:center; padding-left:0%!important; left:5%!important;
	font-size: 90px;
	font-weight: 300;
	line-height: 110%;
	text-shadow: 3px 3px 3px #444444;
	padding: 0px 0 50px 0;
	float: left;	
	text-align: left!important;
}
.cycle-overlay .title {width: 100%; margin: 0 auto;  font-size: 90px; font-weight: 300; line-height: 110%; text-shadow: 3px 3px 3px #444444; float:left; text-align: center;padding: 0 50% 0 0; font-weight:400; }
.cycle-overlay .title p {text-shadow: 0px 0px 0px!important;  font-size: 20px;color: #000; font-weight:400; padding: 10px 0; margin:0;}
.cycle-overlay .desc {text-shadow: 0px 0px 0px!important;  font-size: 20px;color: #000;}

.home-btn-more {width: 100%; font-family: "Lato";}
.cycle-overlay .title a {color:#fff; background-color:#53c3c3; text-shadow: none; font-size: 25px; padding: 10px 40px;}
.cycle-overlay .title a:hover {color:#53c3c3; background-color: #fff; border: 1px solid #53c3c3; }


 .carousel-indicators li {
  width: 10px;
  height: 10px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 1px solid #fff;
  list-style-type: none;
  background-color: rgba(255,255,255,0);
}

/* Carousel base class */
.carousel {}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 837px;
  background-color: #fff;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 837px;
}


.carousel-inner {overflow:inherit;  /*max-height: 378px; *//* overflow: hidden;*/}
.inside-page {/*overflow:inherit; */ max-height: inherit; overflow: hidden;}
.inside-page .carousel-item {max-height: 378px; position: relative; top: 60px; margin-bottom: 60px;}
.inside-page .carousel-item img {height: 378px;}
.inside-page .carousel-caption {font-size: 50px; font-weight: 500; letter-spacing: 5px; top:20%; left:7%;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
