
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Lato', sans-serif; padding-bottom: 0;
   margin-bottom: 500px; /* Margin bottom to match footer height */
}

article, aside, figcaption, figure, footer, header, hgroup, main, section {overflow: hidden;}

.blog-post {padding: 25px 40px 40px 40px;}

.btn-submit, .btn-submit input[type="submit"], #btn-submit, .btn-more, .more a, .btn-donate, .btn-checkout-paypal, .btn-buy, #project-pdf {
color: #fff;
background-color: #138fc9;
text-shadow: none;
font-size: 25px;
padding: 10px 40px;
border: 1px solid #138fc9;
}

.btn-submit:hover, .btn-submit input[type="submit"]:hover, #btn-submit:hover, .btn-more:hover, .more a:hover, .btn-donate:hover, .btn-buy:hover, #project-pdf:hover {
color:#53c3c3; background-color: #fff; border: 1px solid #53c3c3; }

h1 { padding: 5px 0px 8px 0px; color: #3dc4e1; margin: 0;text-transform: inherit; font-size: 45px; font-weight: 400;}
h2 { color: #555; font-weight: 400; font-size: 20px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
h3 { color: #555; font-weight: 700; font-size: 17px; line-height: 110%; padding: 15px 0 10px 0;  }
h4 { color: #555; font-size:15px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700;}
h5 { color: #888; font-weight: 700; font-size: 15px; line-height: 110%; padding: 15px 0 5px 0; text-transform:uppercase; }

p { font-size:20px;
	line-height: 140%;
	padding: 5px 0;
	color:#666666;
	margin:0;
}

strong {font-weight: 700;}

blockquote {width: 80%; color: #777;
	font-size: 17px ;
  margin: 20px 30px;
  padding-left: 30px;
  border-left: 3px solid #e8e8e8; }
  
blockquote p{ font-size: 17px; padding: 0;}  

a, a:active, a:visited{ color: #48a5c7; text-decoration: none;}
a:hover{ color: #333; text-decoration: none;}

ul { font-size:20px; line-height: 130%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

li { padding-left: 12px; margin-bottom: 3px; color:#666666;}
	
.page li:before, .event-txt li:before { content: "\f111";  font-family: 'Font Awesome\ 5 Free'; position: absolute; margin-left: -15px; color: #ccc; font-size: 6px; color:#48a5c7; font-weight: 700;}	
	
ol { font-size:14px; line-height: 130%; margin: 10px 0 10px 0px;}	
	
ol li { background: none;
	padding-left: 16px;
	margin-bottom: 3px;}
.page ol li:before { content: "";  }
	
hr { border: 0; height: 1px; border-top:1px #ccc solid; width: 100%; padding: 5px 0; margin-top: 20px;}

.fb-required {color:#000!important; padding-left:5px;}

.page img, .page p img, #mobile-image-hide {
    margin: 5px 10px;
    max-width: 50%;
    height: auto !important;
    float: right;       
}

.btn-page, .btn-page a:active, .btn-page a:visited {
color: #fff!important;
background-color: #138fc9;
text-shadow: none;
font-size: 20px;
padding: 5px 20px;
border: 1px solid #138fc9;
margin: 0 5px;
font-weight: 700;
text-transform: uppercase;	
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
PAGE NOT FOUND
**************************/
.call-to-action {width:80%;}

/**************************
HEADER - CONTACT
**************************/
.blueTab-smaller{ 
	position: relative;
	width: 43%;
	height: 50px !important;
	background-color: #48a5c7;
	float: right;
	-moz-border-radius-bottomleft: 10px;
  	-webkit-border-bottom-left-radius: 10px;
  	margin-bottom: 10px !important;
}

.blueTab-smaller .blueTabRow{
	height: 50px !important;
	font-size: 30px !important;
}

#he-webplugin-66956 img { margin: 0!important; max-width:auto!important; height: auto !important; float: none!important; height: 37px !important; position: relative; top: -5px;}
.blueTabRow #he-webplugin-66956 img {height: 52px!important; }

.blueTab{
	position: fixed;
	top:0;
	right:0;
	width: 43%;
	height: 63px;
	background-color: #138fc9;
	float: right;
	-moz-border-radius-bottomleft: 15px;
  	-webkit-border-bottom-left-radius: 15px;
  	margin-bottom: 50px;
  	z-index: 99999;
}

.blueTabRow{
	position: relative;
	padding-top: 2px;
	width: 50%;
	height: 63px;
	font-size: 40px;
	float: left;
	color: #FFF;
	text-align: center;
	font-family: Lato;
}

.blueTab-hidden{
	display: none;
}

.blueTabRow a {color: #fff;}
.blueTabRow a:hover {color:#fff;}


.blueTab-mobile{
	display: none;
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #138fc9;
	float: right;
	-moz-border-radius-bottomleft: 15px;
  	-webkit-border-bottom-left-radius: 15px;
  	-moz-border-radius-bottomright: 15px;
  	-webkit-border-bottom-right-radius: 15px;
  	margin-bottom: 10px;
}

.blueTabRow-mobile{
	position: relative;
	padding-top: 5px;
	width: 45%;
	height: 40px;
	font-size: 20px;
	float: left;
	color: #FFF;
	text-align: center;
	font-family: Lato;
	z-index: 999;
}

.blueTabRow-mobile a {color: #fff;}
.blueTabRow-mobile a:hover {color:#fff;}
.blueTabRow-button {display: none;}

.blueTab-preview {top:50px;}
.blueTab-preview .blueTabRow #he-webplugin-66956 img {height: 45px !important;}
.fixed-top-preview {position:fixed!important; top:50px;}
/**************************
PAGE FOOTER
**************************/
#page-footer {width: 100%; padding: 20px 0;}
#page-footer-txt {float:left; margin:auto; color:#48a5c7; font-size: 20px;text-transform: uppercase;font-weight: 700;}	
#page-footer-btn {/*float:left; position: relative; left: -130px;top: -9px;*/}

/**************************
HOME PAGE
**************************/
.index-video-container{
	margin-top: 20px;
}
/**************************
HOME PAGE - SIDE CONTACT
**************************/
#contact-slider{
	background: url('../../images/site/tab-contact-us2.png') no-repeat top right;
	position: fixed;
    bottom: 15%;
    right: -648px;
	width: 752px;
	height: 519px;
    z-index: 700;
    color: white;
}

.contact-slider-content{
	position: relative;
	/*border: 1px solid red;*/
	width: 630px;
	height: 428px;
	margin-top: 34px;
	margin-left: 113px;
	z-index: 9990;
	color: #000;
}

.contact-slider-button{
	position: absolute;
	top: 0;
	width: 110px;
	height: 446px;
	margin-top: 25px;
	z-index: 9999;
}
.contact-slider-button:hover {cursor: pointer;}}

.side-contact {padding: 10px 30px 10px 10px}
.side-contact h2 { font-size: 30px; color:#ccc; text-align: center; font-weight: 400;margin: 0;}
.side-contact h3 {color:#ccc; font-weight: 300; padding: 5px 0 10px 0; text-align: center; font-weight: 400; margin: 0;} 
.side-contact p {color:#ccc; text-align: center; margin: 0; clear: both; }

.side-contact .input-full {width:100%;}	
.side-contact .input-left {float: left; width:49%;}	
.side-contact .input-right {float: right; width:49%;}	
.side-contact input {
	-webkit-border-radius: 0px;
   -moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #D7EFF833;
	border: none;
	padding: 8px;
	margin: 7px;
	font-size: 18px;
	width: 100%;
}

.side-contact .divContact {text-transform:uppercase; font-size:30px; color:#ccc; font-weight: 600; text-align: center; }
.side-contact .divContact a {color:#7CC7DE;}
.side-contact .divContact a:hover {color:#FF0000;}
.side-contact .contactBtn {width: 250px; margin: 20px;}
.side-contact .contactBtn a {

color: #fff;
background-color: #7CC7DE!important;
text-shadow: none;
font-size: 20px;
padding: 10px 40px;
text-transform: lowercase;
margin-top:10px!important;
}
.side-contact .contactBtn a:hover {color:#7CC7DE; background-color: #fff!important; border: 1px solid #7CC7DE;}

.side-contact-wrapper{
	position: relative;
	width: 100%;
	height: 90px;
}

.g-recaptcha{
	position: relative;
	float: left;
}

.contactBtn{
	position: relative;
	float: left;
}


#ssWrapperOverlayTopHeader {
    position: absolute;
    top: 20%;
	left: 7%;
    z-index: 650;  
	color:#fff;
	font-size: 16px;
	
}

#ssWrapperOverlayTopHeader h2 {
	color:#fff /*#90ACC3*/;		
    font-size: 50px;
    letter-spacing: 5px;
    padding: 0 0 10px 0;
	text-transform: capitalize;
	font-weight: 300; 
	text-shadow: 3px 3px 3px #444444;
}

.contact-details, .contact-details p {font-size:18px;}

/**************************
HOME PAGE - FEATURED SLIDER IMAGES PANEL
**************************/
.featuredSlidersWrapper {padding: 30px 0;}
.featuredSliders {width: 90%; margin: 0 auto; padding: 30px 0; text-align: center;}
.featuredSliders h2 {color: #3dc4e1;  padding: 10px; margin: 0; text-align: center; text-transform: inherit; font-size: 50px;margin-top: 40px; font-weight: 400; }
.featuredSliders h3 {color: #000;  padding: 10px; margin: 0; text-align: center; text-transform: inherit; font-size: 30px;}
.featuredSliders p {color: #666666;  padding: 10px; margin: 0; text-align: center; font-size: 30px; font-weight: 400;}

.featuredSliders .home-btn-more {width: 100%; font-family: "Lato"; padding: 30px 0 0px 0;}
.featuredSliders a {color:#fff!important; background-color:#53c3c3; text-shadow: none; font-size: 25px; padding: 10px 40px; cursor: pointer;}
.featuredSliders a:hover {color:#53c3c3!important; background-color: #fff; border: 1px solid #53c3c3; }

.featuredSliders .hr-div {width: 100%; text-align: center; padding: 0 100px;}
.featuredSliders hr {border-top:3px #3dc4e1 solid; }

.divSliderHide {display:block; height:auto;/*display:none; height:0; */}
.divSliderShow {display:block; height:auto;}
/**************************

/**************************
NAVBAR
**************************/
.navbar {background-color:#fff!important; height: 100px !important; padding: 0;}
.navbar-expand-lg .navbar-collapse {position: relative; top: 30px;}
.navbar-expand-lg .navbar-nav .nav-link { color: #848484; font-size: 19px; font-weight: 600; /*padding-right: 30px; padding-left: 30px;*/}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 20px !important;
    /*position: absolute;
    right: 20px;
    top: 55px;*/
}

.navbar-expand-lg .navbar-nav .active a  {color: #48a5c7!important;}

.custom-toggler {padding:0; float: right; padding-right: 5px;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");	
}

/**************************
SIDEBAR
**************************/
.blog-masthead .container {max-width:100%;}
.blog-sidebar {background: #e8e8e8;}

.sidebar-module {padding: 35px 10%;}

.sidebar-module h4 {
	background-color: #48a5c7;
	padding: 5px;
	font-family: 'Lato';
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

.sidebar-module ul { 
	list-style-type: none;
	padding: 0;
	margin: 5px 0 10px 23px;}
	
.sidebar-module li {
	background: none;
	padding: 10px 5px 10px 0px;
	margin-bottom: 3px;
	border-bottom: #48a5c7 1px solid;
    border-top:none;
    border-left:none;
    border-right:none;}

.sidebar-module a {color: #333; font-size: 14px; text-decoration: none;
-webkit-transition: color 0.5s ease; 
-moz-transition: color 0.5s ease; 
transition: color 0.5s ease;}
.sidebar-module a:hover {color: #48a5c7!important; text-decoration: none;}
.sidebar-module ul li .current {color: #48a5c7; font-weight: 700;}

.sidebar-module ul li {
    position: relative;}
 
.sidebar-module ul ul li  { border-bottom: none; padding: 3px 0 0px 0px!important; }
.sidebar-module ul ul li a {color: #999!important;  font-size: 13px!important;}
.sidebar-module ul ul li a:hover {color: #cc0000!important; }

.sidebar-module ul ul li:before { content:  ""; }
.sidebar-module ul ul { 
	list-style-type: none;
	padding: 0;
	margin: 5px 0 10px 9px;}

.sidebar-module .back-link {padding-top: 20px;}
.sidebar-module .back-link a {font-size: 12px;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0;}
.navbar-logo a {padding: 5px 0 0 5px !important;}
.navbar-logo img {max-width: 290px; height: 85px !important; width: auto !important;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}

.introWrapper {background: url('../../images/site/shutterstock_1647657-tweaked.jpg') no-repeat top left;background-size:cover; width: 100%; padding: 0px; margin: 0 auto; clear: both; overflow: hidden;}
.introWrapper, .introWrapper p { font-size: 22px; /*line-height: 110%; text-transform:uppercase;*/ color: #666666; text-align: center; line-height: 180%; font-weight: 400; margin-bottom: 0;}
.introWrapper h1 {color: #666666; font-size: 50px;font-weight: 400;}
.introWrapper .container {max-width: 1400px;}

/**************************
HOME PAGE - BOXES
**************************/
#boxWrapper{
	position: relative;
	width: 100%;
	text-align: center;
}

.main-box{
	position: relative;
	width: 26%;
	display:inline-block;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 30px;
	vertical-align: top;
}

.main-box-alt{
	color: #339999!important;
	font-weight: bold!important;
    font-size: 25px!important;
}

.main-box a img:hover {cursor: pointer; opacity: 0.8;}
.main-box-alt:hover {cursor: pointer; opacity: 0.8; color:#000;}

.footer-row{
	position: relative;
	width: 100%;
	height: 80%;
}

.footer-box{
	position: relative;
	width: 33%;
	height: 200px;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding-left: 50px;
	padding-top: 40px;
	/*font-weight: lighter;*/
	color: #666666;
	float: left;
	font-size: 20px;
}

.footer-box .header{
	font-weight: bold;
	color: #ef4136;
	font-size: 18px;
}

.footer-box h2{
	font-weight: bold;
	color: #ef4136;
	font-size: 18px;
	text-transform: inherit;
}

/**************************
FOOTER INSTAGRAM PANEL
**************************/
/* iframe */
#instagram-panel {background: #138fc9; padding-top: 10px; padding-left: 10px; padding-right: 10px;}

/* embedded */
#instagram-panel-embedded {background: #138fc9;}

.carousel-instagram-embedded * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
.carousel-instagram-embedded { width: 100% !important; margin: 0 auto; padding-bottom: 50px;}
.carousel-instagram-embedded img {max-width:100%; vertical-align:baseline}
.carousel-instagram-embedded img { border: 10px solid #138fc9; }
.carousel-instagram-embedded span {width:100px; vertical-align: top; padding: 40px 0; }
.cycle-caption { height: auto!important;
    position: relative!important;
    color: white;  	
	margin: 0 20px 10px 20px;	
	right:inherit!important;
	bottom:inherit!important;
	z-index: inherit!important;
}
.cycle-caption p { color: #fff; font-size: 16px; white-space: nowrap; white-space: initial; padding:0 5px; text-align: center;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #848484; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{ background-color: #e8e8e8; border-color: #48a5c7; font-weight:600; }
.dropdown-item.active{ background-color: #eee; border-color: #5a5a5a; }

.sidebar-module ol li i {color: #3dc4e1; margin-right: 13px; font-weight: 700; font-size: 18px;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {
	color: #fff;
	background-color: #138fc9;
	text-shadow: none;
	font-size: 25px;
	padding: 10px 40px;
	border: 1px solid #138fc9;
	margin-top: 10px;
}
.btn-checkout:hover {background: #fff; color:#53c3c3; border: 1px solid #53c3c3;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #fff;
	text-align: center;
}

#footer-social {color: #666666; width:50%; float:right; margin: 0 auto; padding: 10px 60px 0 0; text-align: right; font-size: 13px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #666666; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #48a5c7; text-decoration: none;}

#footer-social {color: #666666; float:right; width:40%; margin: 0 auto; padding: 20px 0 5px 0; text-align: right; padding-right: 50px;}
#footer-social a {color:#F6969A; font-size: 25px;padding: 0 8px;}
#footer-social a:hover {color:#48a5c7;}
#footer-social i {
 background-color: #fff;
 border-radius: 50%;
 border: 2px solid #D2EDF6;
 padding: 10px;
}
#footer-social .fa-facebook-f {padding: 10px 14px;}

#footer-txt {color: #666666; width:50%; float:left; margin: 0 auto; text-align: left; font-size: 13px; padding: 30px 0 0 50px;}
#footer-txt a, #footer-txt a:active {color: #666666; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-txt a:hover{ color: #48a5c7; text-decoration: none;}

.footerContainer {padding: 40px 0;}

.footer .row {background: #D2EDF6; padding-top: 40px; padding-bottom: 20px;}
.footer .container {width: 80%; padding: 40px 0; background-color: #99cccc;}
.footer .container .row {margin-top:0; padding-bottom: 0px; min-height: 0;}

.footer-txt {text-align: left; color: #666666; font-size:20px;}
.footer-menu {text-transform: uppercase;}

.footer h2 {
	font-weight: bold;
	color: #ef4136;
	font-size: 18px;
	text-transform: inherit;
	text-align:left;
	padding: 5px 0 5px 0;
	margin:0;
}

.footer a, .footer a:active {color: #666666;; text-decoration: none; font-size: 18px; font-weight: 400;}
.footer a:hover{ color: #000; text-decoration: none;}

.footer-mobile {display: none; height:0; visibility:hidden;}

.footer .col-sm-2,.footer .col-sm-3, .footer .col-sm-4 {padding-left:5px; padding-right:5px;}

.h2-second {padding-top: 30px!important;}
.footer-logo {text-align: left; padding-left: 80px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; z-index: 11111; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
NEWS MODULE
**************************/
.old-news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.old-news-list-item .btn {padding: 2px 20px;}
.old-news-list-item-txt {float: left;   width: 55%;}
.old-news-list-item-img {float: right;  width: 45%;}

.news-list-item-img img {width: 100%; height:auto;}
.news-list-item-img {width: 100%; max-height:400px; overflow: hidden;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

.news-more {color: #3dc4e1; font-weight: 600; text-transform: uppercase;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
ACCORDION
**************************/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background-color: #138fc9 !important;
	border-color: #138fc9 !important;
}

/**************************
GENERAL
**************************/
.responsiveDivContainer{
	position: relative;	
	margin:auto;
	clear:both;
}

.responsiveDivItem{
	position: relative;
	width: 24%;
	display:inline-block;	
	box-sizing: border-box;
	margin: 10px 1%;
	vertical-align: top;
}

.responsiveDivItemFull{	width:100%; vertical-align: top; clear:both; padding: 20px 0px; margin:auto;}
.responsiveDivItemLeft{float:left; padding: 0px;}
.responsiveDivItemRight {float:right;}
.responsiveDivItemImg{width: 28%; text-align: center;}
.responsiveDivItemTxt{width:66%;}
.responsiveDivItemImg img {width:97%!important; max-width:97%!important;}


.responsiveDivItemTxtInvisalign{width:50%;}
.responsiveDivItemImgInvisalign{width: 50%; text-align: center;}

.responsiveDivItemTxtInvisalign span{ color: #3dc4e1; }

.responsiveDivItemTxtInvisalign table{
	vertical-align: middle !important;
}

.invisalign h3{
	color: #3dc4e1;
}

#invisalign-table{
	 font-size: 18px;
 }

#invisalign-table img{
	max-width: 100%;
}

.invisalign-h1{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	color: #565656;
}

caption {caption-side: top;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 480px) {
	.blueTabRow #he-webplugin-66956 img {height: 38px!important; top: -4px!important;}
	.blueTabRow a {position: relative; top:-3px;}
	.blueTab-smaller .blueTabRow {width:45%;}
	.blueTab-smaller .blueTabRow {text-align: left;}
	.blueTabRow-button {width:10%!important;}
	
	.custom-toggler {position:relative; top:-2px;}
	
	#contact-slider {display:none; visibility: hidden; height:0;}
	
	.carousel-item {height:250px!important;}
	.carousel-item > img {height:250px!important;}
	.inside-page .carousel-item {height:100px!important;}
	.inside-page .carousel-item > img {height:100px!important;}
	.inside-page .carousel-caption {display:none; visibility: none; height:0;}
	
	.carousel-indicators, .carousel-control-prev, .carousel-control-next {display:none; visibility: hidden; height:0;}
	.carousel-caption {top:25%; left: 0%!important;}
	.cycle-overlay .title {padding: 0 25% 0 0;}		
	
	#page-footer-txt {font-size: 15px!important;}	
}

@media only screen and  (max-width: 768px) {   
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}		
	
	#he-webplugin-66956 img {
		    margin: 0!important;
		max-width: auto!important;
		height: auto !important;
		float: none;
		-webkit-border-radius: 6px;
		max-width: 100%;
		height: auto !important;
	}
	
	.page img, .page p img, #mobile-image-hide {
		width: auto!important;
		max-width: auto!important;
		float: none;
	}
	.page img, .page p img, #mobile-image-hide {
		width: 99%;
		max-width: 100%;
		margin:inherit;
	}
	
	#contact-slider {display:none; visibility: hidden; height:0;}
}

@media only screen and  (max-width: 991px) {
	article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {/*overflow:hidden;*/}
	main {overflow:hidden;}
	
	.blog-masthead .container {width:100%; max-width: 100%; margin-bottom:0;}
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 30px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main { width: 100%; padding: 0px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 20px;}
	
	.blog-post {padding:0;}
	.sidebar-module {padding:0;}
	.sidebar-module h4 {display:none; visibility: hidden; height:0;}
	.sidebar-module {border-top: 1px solid #48a5c7; }
	.sidebar-module ol {margin:0;}
	
	h1 {font-size: 25px;}
	
	.blueTab{
		height: 40px!important;
		width:100%;
		-moz-border-radius-bottomright: 10px;
  	    -webkit-border-bottom-right-radius: 10px;
	}	
		
	.blueTabRow #he-webplugin-66956 img {hheight: 40px!important; } 
	.blueTab-smaller .blueTabRow {font-size:17px!important;}
	.blueTabRow #he-webplugin-66956 img {height: 38px !important;}
	.blueTabRow-button {display: block; visibility: visible; height: auto; position:absolute; top:0px; right:0;}
	
	.mr-auto, .mx-auto { width: 100%; text-align: center;right:0; background: #fff; top: inherit!important;position: inherit!important;margin:0!important; margin-top: 10px !important;} 
	.navbar-expand-lg .navbar-collapse {top:0; overflow-y: scroll; height: 500px;}
	.navbar {height:auto!important; position: fixed; z-index: 100000!important; top:40px; padding-bottom: 10px;}
	.navbar .panelNav {width:100%;}
	.navbar-logo {text-align: center; margin: auto;}
	.navbar-logo img {height:55px!important; position:relative; top:5px;}
	
	.navbar-expand-lg .navbar-nav .nav-link {font-size:14px; padding-right: 10px; padding-left: 10px; background: #48a5c7; color:#fff!important; margin-top: 5px; padding: 0px 10px;}
	.navbar-expand-lg .navbar-nav .nav-link:hover {color:#000!important;}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 10px;}
	.list-group-item.active {background-color: #fff;}
	.navbar-expand-lg .navbar-nav .active {color:#000!important;}
	#navbarCollapse .dropdown-item {text-align: center;}
	.dropdown-item.active {background-color:#D2EDF6; padding: 0px 10px!important;}
	.dropdown-item {background-color:#D2EDF6;}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {display:inline; margin: 0;}
	.mr-auto, .mx-auto li {padding-left:0!important}
	.dropdown-menu li {margin-bottom: 2px;}
	.nav-item  {padding-left:0!important}
	.navbar-expand-lg .navbar-nav .active a {color:#000!important;}
	.btco-hover-menu a, .navbar > li > a {padding:1px 15px;}
	.blueTabRow-book {width:50%;}
	.blueTabRow-phone {width:40%;}
	.blueTabRow-button {width:10%;}
	
	.carousel-item {height: 350px; overflow: hidden;}
	.carousel-item > img {height: 350px; top:30px!important}
	.cycle-overlay .title {font-size:26px;}
	.cycle-overlay .title p {display: none; height:0; visibility: hidden;}
	.cycle-overlay .title a {font-size:12px!important;}
	.cycle-overlay .title .home-btn-more {margin-top:10px!important;}
	
	.inside-page .carousel-item {height:150px;}
	.inside-page .carousel-item img {height:150px;}	
	
	.introWrapper h1 {font-size:25px;}
	.introWrapper p {font-size:16px;}
	.main-box {width:100%;}
	.featuredSliders h2 {font-size:25px;}
	.featuredSliders h3 {font-size:20px;}
	.featuredSliders p {font-size:16px;}
	
	.footer .row .col-lg-4 {padding-top: 30px;}
	.footer-logo {text-align: center; padding-left:0; padding-top: 0px!important;}
	.footer h2 {text-align: center;}
	.footer-txt {text-align: center;}
	#footer-txt {width: 100%; float:none; text-align: center; padding: 10px 0 0 0px;}
	#footer-social {width: 100%; float:none; text-align: center; padding: 20px 0 10px 0;}
	#footer-txt a {font-size:14px;}
	.footer-txt p {font-size:16px}
	body {margin-bottom: auto;}
	.footer {height:auto; position: inherit;}
	.footer img {/*width:70%;*/}
	
	#page-footer-txt {
		float: none;
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
	}
	#page-footer-btn div {width: 50%; text-align: center; margin: auto;}
	
	.news-list-item {padding:10px 0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {	
    /* For ipad portrait layouts only */
	/*.blueTabRow #he-webplugin-66956 img {height: 40px!important; }
	.inside-page .carousel-caption {font-size: 30px!important; top: 10%;}*/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
   /* For ipad landscape layouts only */
	.blueTab{
		height: 50px;
	}

	.blueTabRow {
		font-size:25px !important;
		padding-top: 6px !important;
		height: 50px !important;
	}

	.blueTab-smaller .blueTabRow {
		font-size:25px !important;
		padding-top: 6px !important;
		height: 50px !important;
	}
    
	.blueTabRow #he-webplugin-66956 img {height: 48px!important; }
	
	body {margin-bottom: auto;}
	.footer {height:auto; position: inherit;}
	.footer img {width:70%;}
	.footer .col-lg-4 {width: 100%!important; max-width: 100%!important; text-align: center; display: block!important; flex:none!important; padding: 20px;}
	#footer-txt {width: 100%; float:none; text-align: center; padding: 10px 0 0 0px;}
	#footer-social {width: 100%; float:none; text-align: center; padding: 20px 0 10px 0;}
	.footer h2 {text-align: center;}
	.footer-txt {text-align: center;}
	.footer img {width:auto;}
	
	.navbar-expand-lg .navbar-nav .nav-link {font-size: 15px!important; padding-right: 10px!important; padding-left: 10px!important;}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 10px!important;}
	
	.cycle-overlay .title {font-size:30px!important; top:10%!important;}
	#contact-slider {display:none; visibility: hidden; height:0;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1650px) {
	.navbar-expand-lg .navbar-nav .nav-link {font-size:20px; padding-right: 15px; padding-left: 15px;}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 15px;}
	
}

@media only screen and (min-device-width: 769px) and (max-width: 1400px) {
	.navbar-expand-lg .navbar-nav .nav-link {font-size:14px; padding-right: 5px; padding-left: 5px;}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 10px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1030px) {	
}
